.home {
    position: relative;
} 
.home-container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
    width: calc(100vw - 6rem);
    row-gap: 5vh;
}
#logo {
    height: 81px;
    width: 552px;
}
#art {
    height: 40vh;
    width: 40vh;
}
h2 {
    font-size: var(--med-font-size);
    color: var(--dark-color);
    line-height: 1;
}
@media screen and (max-width: 550px) {
    #logo {
        height: 43px;
        width: 276px;
    }
    h2 {
        font-size: var(--normal-font-size);
    }
}