<section class="home" id="home">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="home-container bd-grid">
        <h1 class="home-title"><span>Welcome.</span></h1>
        <div class="home-scroll">
            <a href="#about" class="home-scroll-link"><i class='bx bx-up-arrow-alt'></i>Scroll Down</a>
        </div>
        <!-- <img src="assets/img/profiles/profile.png" alt="Home Image" class="home-img"> -->
    </div>
</section>