<section class="home" id="home">
  <ul class="box-area">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="home-container bd-grid">
    <img id="logo" src="../../assets/images/logo.png" alt="Electronic Retailer Logo">
    <h1 class="home-title"><span>Welcome to Byte Bazaar Digital.</span></h1>
    <a mat-fab extended (click)="login()">
      Login
      <mat-icon>arrow_right_alt</mat-icon>
    </a>
  </div>
</section>
