#main {
    margin: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#art {
    width: 300px;
    height: 300px;
}

mat-card-content {
    padding: 1em;
    align-content: center;
}

#price {
    margin-right: 1em;
    margin-bottom: 0;
}

#stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 2rem 1rem 0;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    #main {
        flex-direction: column;
    }
}