#title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#business-name {
  margin: 1rem;
  line-height: 1.2;
}
a {
  width: 120px;
  height: 50px;
  font-size: var(--normal-font-size);
}

@media screen and (max-width: 800px) {
  #business-name {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 550px) {
  #business-name {
    display: none;
  }
}
