<section id="top-bar">
    <section id="title">
        <img id="logo" src="../assets/images/android-chrome-192x192.png" alt="Electronic Retailer Logo">
        <h1 id="business-name">{{ businessName }}</h1>
        <a mat-fab extended (click)="logout()">
            Logout
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
    </section>
    <mat-tab-group class="custom" dynamicHeight>
        <mat-tab class="custom" label="Products">
            <app-products></app-products>
        </mat-tab>
        <mat-tab label="Accounts">
            <app-accounts></app-accounts>
        </mat-tab>
        <mat-tab label="Sales">
            <app-sales></app-sales>
        </mat-tab>
    </mat-tab-group>
</section>