<section id="top-bar">
    <section id="title">
        <img id="logo" src="../assets/images/logo-alt.png" alt="Electronic Retailer Logo">
        <a mat-fab extended (click)="logout()" class="business-button">
            <span id="logout-text">Logout</span>
            <mat-icon id="icon">power_settings_new</mat-icon>
          </a>
    </section>
    <mat-tab-group class="custom" dynamicHeight>
        <mat-tab class="custom" label="Products">
            <app-products></app-products>
        </mat-tab>
        <mat-tab label="Accounts">
            <app-accounts></app-accounts>
        </mat-tab>
        <mat-tab label="Sales">
            <app-sales></app-sales>
        </mat-tab>
    </mat-tab-group>
</section>